@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    background-color: pink;
    font-family: 'playfair display', Arial, Helvetica, sans-serif;
    padding: auto;
    margin: 20px;
}

.title {
    font-size: 50px;
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
}

.info_box {
    text-align: center;
}

.timer_sec {
    font-size: 20px;



}

.button_list {
    display: flex;
}



.hide {
    display: none;


}